@model List<EFMVC.Models.ProductoView>
@{
    ViewBag.Title = "Lista de productos";
}

<div class="titulo">
    <h1 class="text-uppercase text-center my-md-5">Lista de los productos</h1>
</div>
<hr />
<div class="contenido">
    <div>
        @Html.ActionLink(" ", "AltaYEdicion", new { id = 0 }, new { @class = "btn btn-primary glyphicon glyphicon-plus-sign" })
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">CANTIDAD POR UNIDAD</th>
                <th scope="col">PRECIO POR UNIDAD</th>
                <th scope="col" colspan="3"><center>ACCIONES</center></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                var tm = "#myModal" + producto.Id;
                var mid = "myModal" + producto.Id;
                <tr>
                    <th scope="row">@producto.Id </th>
                    <td>@producto.Nombre</td>
                    <td>@producto.CantidadPorUnidad</td>
                    <td>@producto.PrecioUnitario</td>
                    <td>@Html.ActionLink(" ", "Ver", new { id = producto.Id }, new { @class = "btn btn-primary glyphicon glyphicon-eye-open" })</td>
                    <td>@Html.ActionLink(" ", "AltaYEdicion", new { id = producto.Id }, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })</td>
                    <td>
                        <button type="button" class="btn btn-primary glyphicon glyphicon-trash" data-toggle="modal" data-target="@tm">
                        </button>
                        <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">¡Advertencia!</h4>
                                    </div>
                                    <div class="modal-body">
                                        ¿Usted en verdad está seguro de eliminar este producto?
                                    </div>
                                    <div class="modal-footer">
                                        @Html.ActionLink("Eliminar", "Borrar", new { id = producto.Id }, new { @class = "btn btn-primary" })

                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>