@model List<EFMVC.Models.ProductoView>
@{
    ViewBag.Title = "Lista de productos";
}

<p class="font-weight-bold">
    <h1>Lista de los productos</h1>
</p>

<div>
    @Html.ActionLink("Agregar nuevo producto", "AltaProducto")
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CANTIDAD POR UNIDAD</th>
            <th scope="col">PRECIO POR UNIDAD</th>
            <th scope="col" colspan="3">ACCIONES</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <th scope="row">@producto.Id </th>
                <td>@producto.Nombre</td>
                <td>@producto.CantidadPorUnidad</td>
                <td>@producto.PrecioUnitario</td>
                <td>@Html.ActionLink("Ver", "Ver", new { id = producto.Id })</td>
                <td>@Html.ActionLink("Actualizar", "Editar", new { id = producto.Id })</td>
                <td>@Html.ActionLink("Eliminar", "Borrar", new { id = producto.Id })</td>

            </tr>
        }


    </tbody>
</table>

